<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notcmput301.habitbook">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenuActivity"
            android:exported="true"/>
        <activity android:name=".CreateAccountActivity"
            android:exported="true"/>
        <activity android:name=".TodaysHabitActivity" />
        <activity android:name=".HabitTypeListActivity"
            android:exported="true"/>
        <activity android:name=".CreateHabitActivity" />
        <activity android:name=".HabitTypeDetailsActivity" />
        <activity android:name=".HabitEventHistoryActivity" />
        <activity android:name=".HabitEventDetailsActivity" />
        <activity android:name=".HabitMapActivity" />
        <activity android:name=".OnlineMenuActivity" />
        <activity android:name=".FollowedUsersMap" />
        <activity android:name=".FollowerRequestsActivity"></activity>
    </application>

</manifest>